
#content{
    width: 500px;
    height: 500px;
}
.contentbox{
  width: 100px; height: 100px;
  border: 2px solid black; 
  display: inline-block;
}
footer{
    text-align: center;
    background-color: black;color: white;
}
